<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WingWatch"
        tools:targetApi="31">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_kRbH4zhg5H6TQ6SNi6A2y_RtEZwvJOc" />

        <!-- Settings Activity -->
        <activity android:name=".SettingsActivity"
            android:label="Settings &amp; Activity"
            android:theme="@style/Theme.WingWatch.NoActionBar">
        </activity>

        <!-- Filter Activity -->
        <activity android:name=".FilterActivity"
            android:theme="@style/Theme.WingWatch.NoActionBar" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity" android:exported="false" />

        <!-- Home Activity -->
        <activity android:name=".HomeActivity" android:exported="false" />

        <!-- Add Bird Activity -->
        <activity android:name=".AddBirdsActivity" />

        <!-- Hotspots Activity -->
        <activity android:name=".HotspotsActivity" android:exported="false" />

    </application>

</manifest>
